@media screen and (min-width: 320px) and (max-width: 420px) {
    .main {
        background-image: url("../image/bg-320-420.jpg");
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px 0 80px 0;
        flex: 1 0 auto; 
    }
    .main-body {
        width: 100%;
        border-radius: 15px;
        background-color: #f3d9449d;
    }
    .main-container {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-container > h1{
        font-family: Roboto;
        font-weight: 500;
        font-size: 26px;
        margin-bottom: 30px;
    }
}